{% extends 'base.html' %}

{% block content %}
  <h1>{{ recipe.name }}</h1>

  <div class="recipe-detail">
    <img src="{{ recipe.image_url }}" alt="{{ recipe.name }} image" width="300">
    
    <h3>Description:</h3>
    <p>{{ recipe.description }}</p>

    <h3>Category:</h3>
    <p>{{ recipe.category }}</p>

    <h3>Cuisine:</h3>
    <p>{{ recipe.cuisine }}</p>

    <h3>Difficulty:</h3>
    <p>{{ recipe.difficulty }}</p>

    <h3>Serving Size:</h3>
    <p>{{ recipe.serving_size }}</p>

    <h3>Prep Time:</h3>
    <p>{{ recipe.prep_time }} minutes</p>

    <h3>Cook Time:</h3>
    <p>{{ recipe.cook_time }} minutes</p>

    <h3>Total Time:</h3>
    <p>{{ recipe.total_time }} minutes</p>

    <h3>Instructions:</h3>
    <p>{{ recipe.instructions }}</p>

    <h3>Created By:</h3>
    <p>{{ recipe.created_by.username }}</p>
  </div>

  <h3>Comments</h3>
  <ul>
      {% for comment in recipe.comments.all %}
          <li>{{ comment.user.username }}: {{ comment.content }} ({{ comment.created_at }})</li>
      {% empty %}
          <li>No comments yet.</li>
      {% endfor %}
  </ul>
  
  <h4>Add a comment:</h4>
  <form action="{% url 'add_comment' recipe.id %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
  </form>

    <p>{{ likes_count }} Likes</p>
  
    {% if user.is_authenticated %}
      {% if user in recipe.likes.all %}
        <p>You have liked this recipe!</p>
      {% else %}
        <form method="POST">
          {% csrf_token %}
          <button type="submit">Like</button>
        </form>
      {% endif %}
    {% else %}
      <p>You need to be logged in to like this recipe.</p>
    {% endif %}

  <a href="{% url 'recipe_list' %}" class="btn btn-primary">Back to Recipes</a>
{% endblock %}
